
<body>
    <div class="con">
        <div class="header">
            <h1 align=center>Ability
            </h1>
        </div>

        <p class="Text">HTML</p>
        <div class="container">
            <div class="skills html">40%</div>
        </div>

        <p class="Text">CSS</p>
        <div class="container">
            <div class="skills css">35%</div>
        </div>

        <p class="Text">JavaScript</p>
        <div class="container">
            <div class="skills js">40%</div>
        </div>

        <p class="Text">PHP</p>
        <div class="container">
            <div class="skills php">50%</div>
        </div>
        <p class="Text">Java</p>
        <div class="container">
            <div class="skills js">20%</div>
        </div>
        <br> <br>
    </div>
    <center>
  <a href="/" class="button button1"><i class="fa fa-home"></i></a>

    <a href="/skill" class="button button2"><i class="fa fa-file"></i></a>
    </center>
    <br>

</body>

</html>